{% extends 'base.html' %}
{% load to_100_symbols %}
{% load media_tag %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-outline-primary btb-right" href="{% url 'mailing:mailing_create' %}">Создать рассылку</a>
</div>
    </div>
    </div>
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Рассылошная</h1>
    <p class="lead">Рассылошная - это отличный вариант заспамить клиента</p>
</div>

<div class="container">

    <div class="row text-center">
        {% for mailing in object_list %}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        {{mailing.name}}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Периодичность: {{ mailing.get_period_display }}</li>
                    </ul>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>Статус: {{ mailing.get_status_display }}</li>
                    </ul>
                    <a class="btn btn-mb btn-outline-primary"
                       href="{% url 'mailing:mailing_detail' mailing.pk %}">Подробности</a>
                    <hr>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

{% endblock %}