{% extends 'base.html' %}
{% load to_100_symbols %}
{% load media_tag %}
{% block content %}
<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Блог</h1>
</div>

<div class="container">
    <div class="row text-center">
        {% for blog in object_list %}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{blog.title}}</h4>
                </div>
                <div class="card-body">
                    <img src="{{blog.image | media_tag }}" class="card-img-top img-thumbnail">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ blog.text | to_100_symbols }}</li>
                    </ul>
                    <a class="btn btn-mb btn-outline-primary" href="{% url 'blog:blog_detail' blog.pk %}">Подробности</a>
                    <hr>
                    <a class="text-muted float-right">{{blog.view_count}}</a>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

{% endblock %}